{% extends 'layout.html' %}

{% block title %}
    All songs list
{% endblock %}

{% block main-content %}
    <h2 style="text-align: center; margin: 10px 0; font-size: 3rem">All Songs</h2>
    <form style="right:20px; top: 120px; position: absolute" method="GET">
        <label for="genre">filter by genre:</label>
        <select name="genre" id="genre">
            <option value="">Tutti i generi</option>
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtra</button>
    </form>
    {% if allsongs %}
        <p style="margin-left: 25px">There are {{ allsongs|length }} songs:</p>
    {% else %}
        <p>No songs found.</p>
    {% endif %}
        <div id="songlist">
        {% for i in allsongs %}
            <div class="sameMovieCard">
                <div class="container_songpost">
                    <img src="{{i.image.url}}" id="A_{{i.song_id}}"/>
                    <div class="overlay_songpost"></div>
                    <div class="play-btn_songpost">
                        <a class="play-btn" data-song-url="{{i.song.url}}" id="{{i.song_id}}" onclick="playSong(this)"><i class="fa-solid fa-circle-play"></i></a>
                    </div>
                </div>
                <div class="songpost_data">
                    <h5 class="song-name" id="B_{{i.song_id}}"><a data-song-url="{{i.song.url}}" id="{{i.song_id}}" onclick="playSong(this)">{{i.name}}</a></h5>
                    <p class="singer-name" id="C_{{i.song_id}}">{{i.artist}}</p>
                    {% if user.is_authenticated %}
                        <a class="add-playlist-btn-allSongs" id="{{i.song_id}}" onclick="showDiv(this)" title="Add to Playlist"> <i class="fas fa-ellipsis-h"></i></a>
                        <form id="my_form" action="{% url 'music:likesong' %}" method="post" style="margin:0">
                            {% csrf_token %}
                            <input type="hidden" id="helo" name="song_id" value="{{i.song_id}}">
                            <input type="hidden" id="state" name="state" value="{{ state }}">
                            <button type="submit" id="submitremove" style="color: red; margin-top: 15px;">
                                <a id="likeButton" class="fa-regular fa-heart fa-2x {% if state == 'liked' %}liked{% endif %}" data-song-id="{{i.song_id}}" style="color: black; margin-bottom:20px;" onclick="toggleHeart(this)"></a>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <br>
        <br>
        </div>

        <div id="divId">
        {% if my_playlists %}
            <label for="playlist_{{ song.song_id }}" style="margin: 5px; font-size: 0.75rem; font-weight: 700; color: rgb(138, 138, 138); text-align: left;">Add This Song To Your Playlist</label>
            <form style="margin:0;" id="my_form" action="{% url 'music:addSongToPlaylist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="song_id" id="song_id">
                <select name="playlist_id" id="playlist_id">
                {% for playlist in my_playlists %}
                    <option value="{{playlist.playlist_id}}" class="left-panel-btn" style="margin:0;">{{playlist.playlist_name}}</option><br>
                {% endfor %}
                </select>
                <button class="submitb" type="submit">Add to Playlist</button>
            </form>
        {% else %}
            <p style="margin: 5px; font-size: 0.8rem; font-weight: 700; color: rgb(138, 138, 138); text-align: left;">You don't have any Playlist.</p>
            <a class="create-p" onclick="$('#divId').css({display: 'none'}); document.getElementById('modal-wrapper-playlist').style.display='block'"><i class="fas fa-plus"></i> Create Playlist</a>
        {% endif %}
    </div>

    <script>
        document.getElementById('likeButton').addEventListener('click', function(e) {
        e.preventDefault();
        var stateElement = document.getElementById('state').value;
        var currentState = stateElement.value;
        var newState = currentState === 'liked' ? '' : 'liked';

        stateElement.value = newState;
        if (newState === 'liked') {
            document.getElementById('likeButton').classList.add('liked');
        } else {
            document.getElementById('likeButton').classList.remove('liked');
        }
        document.getElementById('my_form').submit();
    });


        function toggleHeart(element) {
            if (element.classList.contains('fa-regular')) {
                element.classList.remove('fa-regular');
                element.classList.add('fas', 'heart-red');
            } else {
                element.classList.remove('fas', 'heart-red');
                element.classList.add('fa-regular');
            }
        }

    </script>
{% endblock %}
