{% extends 'layout.html' %}
{% block main-content %}
    {% if songs %}
        <p>There are {{ songs|length }} songs:</p>
    {% else %}
        <p>No songs found.</p>
    {% endif %}
    <div id="songlist">
            {% for i in allsongs %}
            <div class="sameMovieCard">
                <div class="container_songpost">
                    <img src="{{i.image.url}}" id="A_{{i.song_id}}"/>
                    <div class="overlay_songpost"></div>
                    <div class="play-btn_songpost">
                        <a href="{{i.song.url}}" id="{{i.song_id}}"><i class="far fa-play-circle fa-2x"></i></a>
                    </div>
                </div>
                <div class="songpost_data">
                    <h5 class="song-name" id="B_{{i.song_id}}">
                        {{i.name}}</h5>
                    <p class="singer-name">{{i.singer}}</p>
                    {% if user.is_authenticated %}
                    <a class="add-playlist-btn-allSongs" id="W_{{i.song_id}}" onclick="showDiv(this)" title="Add to Playlist"> <i class="fas fa-ellipsis-h"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
{% endblock %}
