{% extends 'layout.html' %}


{% block title %}
    Liked Songs
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}

{% block main-content %}

    <div id="body-center">
        <div class="card">
            <img  style="background-color: #bc0802; border: 2px solid black" src="/media/images/heart-small.png" width="250px" height="250px">
            <div class="cardData">
                <h1 style="background-color: #bc0802; border-radius: 10px; padding:0 10px">LIKED SONGS <i class="fa-regular fa-heart"></i></h1>
                <p>{{all_liked|length}} liked Songs:</p>
                <br>
                <a href="{% url 'music:allsongs' %}" id="add_song_btn"><i class="fas fa-plus"></i>Add Song</a>
            </div>
        </div>

        {% if all_liked %}
        <h2 id="your-song">There are {{ all_liked|length }} liked songs:</h2>
        <div id="songlist">
            {% for i in all_liked %}
                <div class="sameMovieCard">
                    <div class="container_songpost">
                        <img src="{{i.image.url}}" id="A_{{i.song_id}}"/>
                        <div class="overlay_songpost"></div>
                        <div class="play-btn_songpost">
                            <a class="play-btn" data-song-url="{{i.song.url}}" id="{{i.song_id}}" onclick="playSong(this)"><i class="fa-solid fa-circle-play"></i></a>
                        </div>
                    </div>
                    <div class="songpost_data">
                        <h5 class="song-name" id="B_{{i.song_id}}"><a data-song-url="{{i.song.url}}" id="{{i.song_id}}" onclick="playSong(this)">{{i.name}}</a></h5>
                        <p class="singer-name" id="C_{{i.song_id}}">{{i.artist}}</p>
                        <form id="delform" action="{% url 'music:likesong' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="song_id" value="{{ i.song_id }}">
                            <input type="hidden" id="state" name="state" value="liked">
                            <button type="submit" id="submitremove" style="color: red; margin-top: 15px; margin-left: 200px" onclick="removeSongFromLiked(this)">
                                <i style="margin-top: 10px" class="fa-solid fa-ban"></i>
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <h2 style="margin-bottom: 40px">Currently you have 0 Liked Songs</h2>
        {% endif %}

        <div id="footer"></div>
    <br>
    <br>
    <br>
    </div>

    <script>
    document.getElementById('likeButton').addEventListener('click', function(e) {
        var currentState = document.getElementById('state').value;
        if(currentState == 'liked')
            currentState = 'nolike';
        else
            currentState = 'liked';
        document.getElementById('state').value = currentState;
        $.ajax({
                "url": "/likedsongs/",
                "type": "post",
                "data": { 'song_id' : song_id, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'state' : currentState},
        })
        document.getElementById('submitremove').submit();})

    </script>
{% endblock %}