{% extends 'layout.html' %}


{% block title %}
    {{ playlistInfo.playlist_name }}
{% endblock %}


{% block main-content %}
    <div id="body-center">
        <div class="card">
            <div>
                <img src="{% if playlistInfo.image %}{{ playlistInfo.image.url }}{% else %}/media/images/music-placeholder.png{% endif %}" alt="No Image Found">
                <a id="modify_image_link" style=" color:white; display:block; margin-left: 100px; font-size:1rem" onclick="showImageForm()"><u>Modify Playlist Image</u></a>
            </div>
            <div class="cardData">
                <h1 id="B_{{playlistInfo.playlist_id}}">{{playlistInfo.playlist_name}}</h1>
                <p>{{playlistInfo.plays}} Songs</p>
                <br>
                <a id="add_song_btn" href={% url 'music:allsongs' %}><i class="fas fa-plus"></i>Add Song</a>
            </div>
        </div>
        <h2 id="your-song">Your Songs:</h2>
        {% if playlistSongs %}
            <div id="songlist">
                {% for i in playlistSongs %}
                    <div class="sameMovieCard">
                        <div class="container_songpost">
                            <img src="{{i.image.url}}" id="A_{{i.song_id}}"/>
                            <div class="overlay_songpost"></div>
                            <div class="play-btn_songpost">
                                <a class="play-btn" data-song-url="{{i.song.url}}" id="{{i.song_id}}" onclick="playSong(this)"><i class="fa-solid fa-circle-play"></i></a>
                            </div>
                        </div>
                        <div class="songpost_data">
                            <h5 class="song-name" id="B_{{i.song_id}}"><a data-song-url="{{i.song.url}}" id="{{i.song_id}}" onclick="playSong(this)">{{i.name}}</a></h5>
                            <p class="singer-name" id="C_{{i.song_id}}">{{i.artist}}</p>
                            <i id="likeButton" class="fa-regular fa-heart fa-2x" data-song-id="{{i.song_id}}" style="color: black; margin-top:15px; width: fit-content" onclick="toggleHeart(this)"></i>
                            <form action="{% url 'music:delete_song_from_playlist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="song_id" value="{{ i.song_id }}">
                                <input type="hidden" name="playlist_id" value="{{ playlistInfo.playlist_id }}">
                                <button type="submit" id="submitremove" style="color: red; margin-top: 15px;">
                                    <i class="fa-solid fa-ban fa-2x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2 id="no-song">Currently No Songs Added in Your Playlist "{{ playlistInfo.playlist_name }}"</h2>
        {% endif %}


        <h3 id="recommended-tit">Recommended Artists</h3>

        {% if recommendedSingers %}
        <div class="main-carousel" data-flickity='{"groupCells":3 , "contain": true, "draggable": false, "pageDots": false}'>
            {% for i in recommendedSingers %}
            <div class="carousel-cell">
                <div class="song-card">
                    <div class="containera">
                        <img style="border-radius: 100%;" src="{{i.image.url}}" alt=""/>
                        <div style="border-radius: 100%;" class="overlaya"></div>
                        <div class="play-btn"><a href="/album/{{i.singer_id}}"> <i class="fas fa-play-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <p class="namesong">{{i.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div>
            <p id="no-song">ADD SOME SONGS IN YOUR PLAYLIST TO GET RECOMMENDATIONS</p>
        </div>
        {% endif %}

        <div id="imageForm" style="display: none;">
            <form action="{% url 'music:modify_playlist_image' playlistInfo.playlist_id %}" method="POST" enctype="multipart/form-data">
                <h2>Change Playlist Image</h2>
                {% csrf_token %}
                <input type="file" name="image" accept="image/*" required>
                <button type="submit">Upload Image</button>
            </form>
        </div>

        <div>
            <form action="{% url 'music:deletePlaylist' %}" method="POST">{% csrf_token %}
                <input type="hidden" name="playlist_id" value="{{playlistInfo.playlist_id}}">
                <button id="delete-btn" type="submit">Delete Playlist</button>
            </form>
        </div>

        <div id="footer"></div>
    </div>

    <!--
    <div id="audio_main" class="audio-decs">
        <div class="audio-data">
            <img id="audio-img" style="height: 53px; width: 64%; border-radius: 4%; margin: 3px 0px 3px 30px;"
                src="/media/images/music-placeholder.png" alt="Image here">
            <div style="margin: auto 6px;">
                <h4 id="audio-song">Song Name</h4>
                <p id="audio-movie" style="color: rgb(151, 151, 151);">Album Name</p>
            </div>
        </div>
        <div style="margin: auto 0;">
            <audio preload="none" controls id="audioPlayer">
                <source />
            </audio>
        </div>
    </div>      -->


    <script>
        function removeSongFromPlaylist(el) {
            var playlistId = "{{playlistInfo.playlist_id}}";
            var song_id = el.id;
            song_id = song_id.slice(2);
            $("#Div_"+song_id).fadeOut('slow')
            $.ajax({
                "url": "/myPlaylist/"+playlistId,
                "type": "post",
                "data": { 'music_id' : song_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                "success": showAlert('success', "Succesfully Removed"),
            })
        }

        function showImageForm() {
            var form = document.getElementById('imageForm');
            form.style.display = 'block';
            document.addEventListener('mouseup', function(event) {
                var container = document.getElementById('imageForm');
                if (!container.contains(event.target)) {
                    container.style.display = 'none';
            }
            }, { once: true });
        }

        function toggleHeart(element) {
            if (element.classList.contains('fa-regular')) {
                element.classList.remove('fa-regular');
                element.classList.add('fas', 'heart-red');
            } else {
                element.classList.remove('fas', 'heart-red');
                element.classList.add('fa-regular');
            }
        }

    </script>
{% endblock %}