{% extends 'layout.html' %}


{% block title %}
    {{ playlistInfo.playlist_name }}
{% endblock %}


{% block main-content %}
    <div id="body-center">
        <div class="card">
            <img src="/media/images/music-placeholder.png" alt="No Image Found">
            <div class="cardData">
                <h1 id="B_{{playlistInfo.playlist_id}}">{{playlistInfo.playlist_name}}</h1>
                <p>{{playlistInfo.plays}} Songs</p>
                <br>
                <a href="/allSongs" id="add_song_btn"><i class="fas fa-plus"></i>
                    Add Song</a>
            </div>
        </div>
        <h2 id="your-song">Your Songs:</h2>
        {% if songs %}
            <div id="playlist">
                {% for i in songs %}
                    <div class="sameMovieCard" id="Div_{{i.song_id}}">
                        <div class="container_songpost">
                            <img src="{{i.image.url}}" id="A_{{i.song_id}}" />
                            <div class="overlay_songpost"></div>
                            <div class="play-btn_songpost">
                                <li><a href="{{i.song.url}}" id="{{i.song_id}}"><i class="far fa-play-circle fa-2x"></i></a></li>
                            </div>
                        </div>
                        <div class="songpost_data">
                            <h5 class="song-name" id="B_{{i.song_id}}">{{i.name}}</h5>
                            <p class="singer-name">{{i.singer}}</p>
                            <p class="movie-name" id="C_{{i.song_id}}">
                                {{i.artist}}</p>
                            <p class="remove-song-from-playlist-btn" id="F_{{i.song_id}}" onclick="removeSongFromPlaylist(this)" title="Remove from Playlist"><i class="far fa-times-circle"></i></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2 id="no-song">Currently No Songs Added in Your "{{ playlistInfo.playlist_name }}"</h2>
        {% endif %}


        <h3 id="recommended-tit">Recommended Artists</h3>

        {% if recommendedSingers %}
        <div class="main-carousel" data-flickity='{"groupCells":3 , "contain": true, "draggable": false, "pageDots": false}'>
            {% for i in recommendedSingers %}
            <div class="carousel-cell">
                <div class="song-card">
                    <div class="containera">
                        <img style="border-radius: 100%;" src="{{i.image.url}}" alt=""/>
                        <div style="border-radius: 100%;" class="overlaya"></div>
                        <div class="play-btn"><a href="/album/{{i.singer_id}}"> <i class="fas fa-play-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <p class="songName">{{i.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div>
            <p id="no-song">ADD SOME SONGS IN YOUR PLAYLIST TO GET RECOMMENDATIONS</p>
        </div>
        {% endif %}

        <div>
            <form action="/deletePlaylist" method="POST">{% csrf_token %}
                <input type="hidden" name="playlist_id" value="{{playlistInfo.playlist_id}}">
                <button id="delete-btn" type="submit">Delete Playlist</button>
            </form>
        </div>

        <div id="footer"></div>
    </div>

    <!--
    <div id="audio_main" class="audio-decs">
        <div class="audio-data">
            <img id="audio-img" style="height: 53px; width: 64%; border-radius: 4%; margin: 3px 0px 3px 30px;"
                src="/media/images/music-placeholder.png" alt="Image here">
            <div style="margin: auto 6px;">
                <h4 id="audio-song">Song Name</h4>
                <p id="audio-movie" style="color: rgb(151, 151, 151);">Album Name</p>
            </div>
        </div>
        <div style="margin: auto 0;">
            <audio preload="none" controls id="audioPlayer">
                <source />
            </audio>
        </div>
    </div>      -->


    <script>
        function removeSongFromPlaylist(el) {
            var playlistId = "{{playlistInfo.playlist_id}}";
            var song_id = el.id;
            song_id = song_id.slice(2);
            $("#Div_"+song_id).fadeOut('slow')
            $.ajax({
                "url": "/myPlaylist/"+playlistId,
                "type": "post",
                "data": { 'music_id' : song_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                "success": showAlert('success', "Succesfully Removed"),
            })
        }
    </script>
{% endblock %}