body{
    max-width: 100%;
    background-color: blue;
    background-image: linear-gradient(#1e90ff, #00008b);
    color:white;
    font-family: Oswald, Verdana, serif;
    font-size: 20px;
}

header{
    height: 10%;
    background-color: #03045e;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:white;
}

#header_menu{
    display:block;
}

#home-link{
    position: relative;
    display: inline-block;
    margin-left: 7%;
    margin-top:1.7%;
    z-index: 999;
}

#home-link p{
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: Oswald, Verdana, serif;
    z-index: 999;
}

#home-link img{
    margin-right: 10px;
    margin-bottom:7px;
    z-index: 999;
}

.dropdown{
    display: inline-block;
    position: absolute;
    margin-top:1.4%;
    margin-left:7%;
    z-index: 999;
}

.dropdown-item{
    cursor: pointer;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: transparent; !important;
    border:none;!important;
    color:white;!important;
    font-size: 1.2rem;
    font-family: Oswald, Verdana, serif;
    letter-spacing: 2px;
}

.dropdown-menu a{
    font-size: 15px;
    font-family: Oswald, Verdana, serif;
    letter-spacing: 2px;
}

.dropdown img{
    margin-right:10px;
    margin-bottom: 5px;
}

h1{
    font-family: Lobster, verdana, serif;
    font-size: 3em;
    color:white;
    position: absolute;
    width: 100%;
    top: 1.5%;
    text-align: center;
    margin: 0;
    padding:0;
    z-index: 1;
}

header input{
    min-width:200px;
    z-index: 999;
}

header form{
    display: inline-block;
    position: absolute;
    top:3%;
    right: 15%;
    z-index: 999;
}

.icon{
    position: absolute;
    display: inline-block;
    right:2.5%;
    top:1%;
    margin: 0 0 20px 20px;
    max-width:4.5rem;
    z-index: 999;
}

.heart-icon {
    font-size: 2rem;
    cursor: pointer;
}

.heart-red {
    color: red !important;
}

.welcome{
    position: absolute;
    display: inline-block;
    right:2.5%;
    top:10px;
    margin: 0 0 20px 20px;
    z-index: 10;
}

.welcome a{
    margin-left:50px;
    background-color: #ff0006;
    margin-top: 15px;
    padding: 3px 10px;
    border-radius: 10px;
    z-index: 10;
}

.welcome h4{
    font-size: 20px;
    margin-bottom:15px;
    z-index: 999;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #2bc5b4;
    margin: 18% auto 15% auto;
    border: 2px solid darkblue;
    width: 30%;
    padding-bottom: 20px;
}

.modal-content h2{
    margin: 5px auto;
}

.modal-content #playname-input{
    margin:5px auto 0 auto;
    width:70%;
}

.modal-content #submitb {
    margin: 5px auto;
    background-color: #03ff03;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.left-panel-btn{
    color:black;
}

/*.play-btn{
    align-content: center;
    justify-content: center;
    margin:0 auto;
    padding: 3px 15px;
    border: 1px solid rgb(130, 131, 131);
    color: rgb(130, 131, 131);
    background: none;
}*/

.fa-solid{
    color:red;
}

/* FINE LAYOUT */

/* HOMEPAGE */

.home-tit{
    margin-left:20px;
}

.main_content{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    max-width: 100%;
    column-gap: 3%;
    margin-left: 3%;
    margin-top:30px;
}

.main-carousel{
    margin: 0 15px;
}

.main_content img{
    width:200px;
    height: 200px;
}

.song-card{
    margin: 0 10px;
    height: 150px;
    width: 150px;
}

.main_song{
    width: 165px;
}


.song-card img{
    border-radius: 3%;
    margin: auto;
    height: 200px;
    width: 150px;
}

.containera{
    border-radius: 4%;
    position: relative;
    margin-top: 10px;
    width: 145px;
    height: 145px;
}

.overlaya{
    position: absolute;
    border-radius: 4%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.containera:hover .overlaya {
    display: block;
    background: rgba(0, 0, 0, .65);
}

.containera img {
    border-radius: 4%;
    position: absolute;
    width: 145px;
    height: 145px;
    left: 0;
}

.play-btn{
    position: absolute;
    width: 145px;
    height:80px;
    left: 0;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.containera:hover .play-btn {
    opacity: 1;
}

.play-btn a:hover {
    transition: 0.2s;
    opacity: 0.6;
}

.add-playlist-btn {
    position: absolute;
    width: 245px;
    left: 0;
    top: 116px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
.add-playlist-btn a{
    color: white;
    font-size: 1.3rem;
    z-index: 1;
    cursor: pointer;
}
.containera:hover .add-playlist-btn {
    opacity: 1;
}
.add-playlist-btn a:hover {
    transition: 0.2s;
    opacity: 0.6;
}

.songName{
    font-family: 'Baloo Bhai 2', sans-serif;
    color: #ffc616;
    width: 150px;
    font-weight: 700;
    margin:0 0 0 7px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: clip;
    line-break: anywhere;
    text-overflow: ellipsis;
    text-align: center;
}

.artistName {
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#divId{
    display: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding:15px;
}

.create-p{
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: .93333rem;
    line-height: 1.4;
    padding: 10px 15px 10px 15px;
    border: 1px solid #2bc5b4;
    outline: none;
    color: #2bc5b4;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 21px;
}

.playlist-title{
    font-family: 'Baloo Bhai 2', sans-serif;
    color: white;
    display: block;
    width:200px;
    font-weight: 700;
    margin:5px 0 0 7px;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: clip;
    line-break: anywhere;
    text-overflow: ellipsis;
    text-align: center;
}

#likeButton {
    margin: 10px 10px 10px 30px;
    color: rgb(151, 151, 151);
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

#likeButton:focus {
    outline: none;
    transition: 0.4s;
}


/* player */

.audio-decs {
    display: grid;
    grid-template-columns: 20% 80%;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio-data {
    display: grid;
    grid-template-columns: 30% 70%;
}

#audio-img{
    height: 100%;
    width: 100%;
    max-width:60px;
    max-height:60px;
    border-radius: 4%;
    margin: 5px 10px 3px 30px;
}

#text-song{
    margin: 5px 0 auto 10px;
}

.audio-decs h4 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-top:5px;
    line-height: 1;
    font-size: 1.1rem;
    color: #4d4d4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio-decs p {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1rem;
    font-weight: 500;
    color: #4d4d4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#audioPlayer {
    width: 100%;
}

#audioPlayer:focus {
    outline: none;
}

/* LOGIN PAGE */

.login-form{
    width: 50%;
    margin: 100px auto 0 auto;
    padding:20px 50px;
    border: 3px solid black;
    border-radius: 20px;
}

.login-form p{
    text-align: center;
    font-size: 100px;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.form-with-validation input {
    padding: 0.25rem;
    max-width: 300px;
}

.form-submit {
    padding: 0.5rem;
    margin-top: 20px;
    border-radius: 10px;
    width: 125px;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
}

.reg{
    font-size: 2rem;
    font-weight: 500;
    margin: 30px 40% 0 40%;
}

/* REGISTRATION PAGE */

.register-form{
    width: 50%;
    margin: 100px auto 0 auto;
    padding:30px 50px;
    border: 3px solid black;
    border-radius: 20px;
}

.register-form p{
    text-align: center;
    font-size: 80px;
}

.form-with-validation{
    margin-left:25%;
}

/* PLAYLIST */

.card{
    padding: 30px 0;
    display: grid;
    grid-template-columns: 350px auto;
    background-color: transparent;
    border: none;
}

.cardData{
    padding: 0;
}

.cardData h1{
    font-family: Lato,sans-serif;
    font-weight: 900;
    position: relative;
    width: fit-content;
    height: fit-content;
    left:0;
    font-size: 3rem;
    line-height: 1.8;
    word-spacing: 1px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.cardData p{
    margin: 40px 10px 0 0;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.card img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
    margin: 0 50px;
    height: 240px;
    width: 240px;
}

#imageForm {
    background-color: #2bc5b4;
    border-radius: 10px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 18%;
    top: 30%;
    width: 30%;
    overflow: auto;
    border: 2px solid darkblue;
    padding-bottom: 20px;
}

#imageForm h2{
    text-align: center;
}

#imageForm input{
    text-align: center;
    margin:5px auto 0 auto;
    width:70%;
}

#imageForm button{
    text-align: center;
    margin: 5px auto;
    background-color: #03ff03;
}

#submitremove{
    background-color: transparent;
    border:none;
}

#likeButton{
    background-color: transparent;
    border:none;
}

#no-song{
    margin: 10px 35px;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 500;
}

#your-song{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
    font-weight: 700;
}

#add_song_btn{
    text-decoration: none;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 9px 31px;
    margin: 20px 0;
    font-size: 1rem;
    outline: none;
    color: white;
    background-color: #2bc5b4;
    cursor: pointer;
    border-radius: 21px;
    transition: 0.3s;
}

#add_song_btn:hover {
    background-color: #30e6d0;
    transition: 0.3s;
}

.sameMovieCard {
    margin: 5px 20px 5px 20px;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 10px 5px;
    transition: 0.3s;
}

.sameMovieCard:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

#playlist {
    list-style: none;
}

#playlist li a {
    color: rgb(179, 177, 177);
    text-decoration: none;
    transition: 0.2s;
}

#playlist li a:hover {
    color: #2bc5b4;
    transition: 0.2s;
}

#playlist .current-song a {
    color: #2bc5b4;
}

.container_songpost {
    border-radius: 4%;
    position: relative;
    margin: 1px 0 1px 45px;
    width: 75%;
    height: 50px;
}

.overlay_songpost {
    position: absolute;
    border-radius: 4%;
    top: 0;
    left: 0;
    width: 70%;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.sameMovieCard:hover .overlay_songpost {
    display: block;
    background: rgba(0, 0, 0, .65);
}

.container_songpost img {
    border-radius: 4%;
    position: absolute;
    width: 70%;
    margin: auto;
    height: 50px;
    left: 0;
}

#recommended-tit{
    margin: 30px 0 0 25px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
}

#add-to-recommendations{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(129, 126, 126);
}

.play-btn_songpost {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease;
}

.no-songs{
    margin: 100px 0 -30px 5px;
    font-size: 1.35rem;
    font-family: sans-serif;
    color: rgb(65, 63, 63);
}

.songpost_data {
    display: grid;
    grid-template-columns: 25% 30% 25% 20%;
}

.singer-name {
    margin: auto 30px;
    color: rgb(143, 142, 142);
    font-size: 0.8rem;
}

.song-name {
    margin: auto 5px;
    color: rgb(75, 74, 74);
    font-size: 0.85rem;
}

.remove-song-from-playlist-btn {
    margin: auto;
    font-size: 1.5rem;
    opacity: 0;
    cursor: pointer;
    transition: 0.25s;
}

.remove-song-from-playlist-btn:hover {
    transition: 0.25s;
    color: red;
}

.sameMovieCard:hover .remove-song-from-playlist-btn {
    opacity: 1;
}
.sameMovieCard:hover .play-btn_songpost {
    opacity: 1;
    z-index: 999;
}

#delete-btn {
    text-decoration: none;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    border: none;
    padding: 6px 25px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 0.9rem;
    outline: none;
    color: white;
    background-color: #d11616;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

#delete-btn:hover {
    background-color: #f51313;
    transition: 0.3s;
}

/* ALL SONGS PAGE */

#songlist {
    list-style: none;
}

#songlist li a {
    color: rgb(179, 177, 177);
    text-decoration: none;
    transition: 0.2s;
}

#songlist li a:hover {
    color: #2bc5b4;
    transition: 0.2s;
}

#songlist .current-song a {
    color: #2bc5b4;
}

.container_songpost img {
    border-radius: 4%;
    position: absolute;
    width: 70%;
    margin: auto;
    height: 50px;
    left: 0;
}

.add-playlist-btn-allSongs {
    margin: auto;
    font-size: 1.4rem;
    opacity: 0;
    color: rgb(143, 142, 142);
    cursor: pointer;
    transition: 0.25s;
}

.add-playlist-btn-allSongs:hover {
    transition: 0.25s;
    color: rgb(107, 104, 104);
}

.sameMovieCard:hover .add-playlist-btn-allSongs {
    opacity: 1;
}

.namesong{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 0.9rem;
    line-height: 2;
    color: rgb(71, 70, 70);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#songlist{
    margin-bottom:50px;
    white-space: nowrap;
}

#songlist .play-btn{
    position: absolute;
    height: 70px;
    width: 70px;
    top:-10px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

#songlist img{
    height: 70px;
    width: 70px;
}

#songlist .container_songpost{
    height: 70px;

}

#songlist .overlay_songpost{
    height:70px;
    width:70px;
}

#songlist .song-name{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    color: #ffc616;
    font-size: 1.25rem;
    font-weight: 700;
}

#songlist .singer-name{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:white;
    font-weight: 700;
    font-size:1.05rem;
}


#songlist #singer-name {
    margin: auto;
    color: rgb(143, 142, 142);
    font-size: 0.8rem;
}
