{% extends 'layout_users.html' %}


{% block title %}
    USERS LOGIN
{% endblock %}


{% block main-content %}
    <div class="login-form">
        <p><b>USER LOGIN</b></p>
        <form class="form-with-validation" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="form-submit">Submit</button>
        </form>
    </div>

    <div class="reg">
        <p> OR SIGN IN <a href="{% url 'users:register' %}"><u>CLICKING HERE!</u></a></p>
    </div>
{% endblock %}