{% extends 'layout.html' %}


{% block title %}
    PPMusic
{% endblock %}


{% block main-content %}
    <div id="All-songs" style="padding: 5px">
        <h2 id>All Songs</h2>
        {% if songs %}
            <p>There are {{ songs|length }} songs:</p>
        {% else %}
            <p>No songs found.</p>
        {% endif %}
        <div class="main-carousel" data-flickity='{"groupCells":5 , "contain": true, "pageDots": false, "draggable": false, "cellAlign": "left", "lazyLoad": true}'>
            {% for i in songs %}
                <div class="carousel-cell">
                    <section class="main_song">
                        <div class="song-card">
                            <div class="containera">
                                <img src="{{i.image}}" id="A_{{i.song_id}}" alt="song cover">
                                <div class="overlaya"></div>
                                <div>
                                    <a class="play-btn" data-song-url="{{i.song.url}}" id="{{i.song_id}}" onclick="playSong(this)"><i class="fas fa-play-circle fa-2x"></i></a>
                                    {% if user.is_authenticated %}
                                        <div class="add-playlist-btn">
                                            <a id="W_{{i.song_id}}" title="Add to Playlist" onclick="showDiv(this)"><i class="fas fa-ellipsis-h"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="songName" id="B_{{i.song_id}}">{{i.name}}</p>
                            <p class="artistName" id="C_{{i.song_id}}">{{i.artist}}</p>
                        </div>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- <div id="Recommends" style="padding: 5px">
        <h2>Recommended</h2>
        <div class="main-carousel" data-flickity='{"groupCells":5 , "contain": true, "pageDots": false, "draggable": false, "cellAlign": "left", "lazyLoad": true}'>
            {% for i in Recommends %}
                <div class="carousel-cell">
                    <section class="main_song">
                        <div class="containers">
                            <img src="{{i.album.images.0.url}}" id="A_{{i.id}}" alt="song cover">
                            <div class="overlaya"></div>
                            <div>
                                <a class="play-btn-spotify-songs" data-song-url="{{i.song.url}}" id="{{i.id}}" onclick="playSong(this)"><i class="fas fa-play-circle"></i></a>
                            </div>
                        </div>
                        <div>
                            <p class="songName" id="B_{{i.id}}">{{i.name}}</p>
                        </div>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>


    <h2>Your Paylists</h2>

    <div class="main_content">
        {% for playlist in Playlist %}
            <section class="main_song">
                <img src="{{ playlist.image}}" alt="playlist image">
                <div class="middle">
                    <p class="song-title">{{ playlist.name }}</p>
                    <button class="play-button"><img src="../media/images/play-32.png" alt="play button"></button>
                </div>
            </section>
        {% endfor %}
    </div>
    -->
    <div id="divId">
        {% if myPlaylists %}
        <p style="margin: 5px; font-size: 0.75rem; font-weight: 700; color: rgb(138, 138, 138); text-align: left;">
            Add This Song To Your Playlist</p>
        {% for playlist in myPlaylists %}
        <a class="left-panel-btn" id="D_{{playlist.playlist_id}}"
            onclick="sendPostRequestPlaylistSong(this)">{{playlist.playlist_name}}</a><br>
        {% endfor %}
        {% else %}
        <p style="margin: 5px; font-size: 0.8rem; font-weight: 700; color: rgb(138, 138, 138); text-align: left;">
            You don't have any Playlist.</p>
        <a class="create-p" onclick="$('#divId').css({display: 'none'}); document.getElementById('modal-wrapper-playlist').style.display='block'"><i class="fas fa-plus"></i> Create Playlist</a>
        {% endif %}
    </div>


    <script>

        function playSong(element){
            var songUrl = element.getAttribute('data-song-url');
            var audioPlayer = document.getElementById('audioPlayer');
            var audioSource = document.getElementById('audioSource');
            audioSource.src = songUrl;
            audioPlayer.load();
            audioPlayer.play();
            var songId = element.id;
            var newImage = document.getElementById("A_" + songId).src;
            var newSongName = document.getElementById("B_" + songId).textContent;
            var newArtistName = document.getElementById("C_" + songId).textContent;
            console.log(newSongName)
            console.log(newImage)
            console.log(newArtistName)

            document.getElementById("audio-img").src = newImage;
            document.getElementById("audio-song").textContent = newSongName;
            document.getElementById("audio-artist").textContent = newArtistName;
        }


        var song_id_for_playlist;
        function showDiv(el) {
            // alert(el.id + " is Clicked!");
            var div = $("#divId");
            song_id_for_playlist = el.id;
            div.css({
                top: event.pageY,
                left: event.pageX,
                position: "absolute",
                display: "block"
            });

        }
        $(document).mouseup(function (e) {

            var container = $("#divId");

            if (!container.is(e.target) && container.has(e.target).length === 0) {

                container.fadeOut();

            }
        });

        function sendPostRequestPlaylistSong(el) {
            // alert("Song ID: "+song_id_for_playlist+" | Playlist ID: "+el.id);
            var data = song_id_for_playlist + "|" + el.id;
            $.ajax({
                "url": "addSongToPlaylist",
                "type": "post",
                "data": { 'data': data, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                "success": showAlert('success', "Song Added In Your Playlist"),
                // "error": error_callback
            })
            var div = $("#divId");
            div.css({
                transition: "0.3s",
                display: "none"
            });
        }
    </script>
{% endblock %}
